*{

    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
}


.we{
min-height: 100vh;
width: 100%;
position: relative;
}

.main{
overflow: hidden;
    width: 100%;
    height: 80vh;
background-image: url(https://cdn.shopify.com/s/files/1/0615/6176/6061/files/rrrr.webp?v=1704707866);

background-position: center;
background-repeat: no-repeat;
}
.main img{
width: 100%;
}
.text{
    display: inline-block;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 50vh;
    margin-top: 80px;
    margin-left: 30px;
/* background-color: #aecf25; */
text-align: center;
}
.main h1{
    font-size: 40px;
    padding-top: 130px;

}
.main h4{
    padding-top: 30px;
    width: 83%;
    font-size: 15px;
    opacity: .8;
    padding-bottom: 60px;
}

.main a{
    margin-top: 20px;
    background:#DC2C2B;
    width: 190px;
    padding: 20px;
    white-space: nowrap;
    border-radius: 100px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.main a:hover{
    background-color: transparent;
    border: 1px solid #DC2C2B;
    color: #DC2C2B;
    transition: all ease 0.5s;
}
.ver{
    min-height: 100vh;
    width: 100%;
}
.pro-ducts{
    display: inline-flex;
    padding-top:30px;
    justify-content: center;
position: relative;
    width: 100%;
    height: 20vh;
}
.pro-ducts h2{

font-size: 30px;
margin-left: 10px;

}
.pro-ducts h2 span{
color: #DC2C2B;
display: unset;
    font-size: 30px;
    
    }

    .pro{
        display: inline-block;
text-align: center;
        width: 50%;
        height: 77vh;
        margin-bottom: 30px;
        white-space: wrap;
        
    }
   .pro img {
display: flex;
    width:78% ;
    height: 70%;
    padding-top: 10px;
    margin-bottom: 21px;
    margin-left: 30px;

   }

   .pro a{
    padding-right:30px;
    height: 30px;
    padding-left: 30px;
padding-top: 10px;
padding-bottom: 10px;
  
    /* background-color: #000; */
border: 1px solid #DC2C2B;
    border-radius: 100px;
    text-decoration: none;
    color:black;
  
   }
   .pro a:hover{
    background-color: #DC2C2B;
    transition: all ease 0.5s;
   }
   .pro h1{
padding-bottom: 10px;
    font-size: 25px;

   }
   .pro h3{

    font-size: 15px;
    opacity: 0.7;

   }
   .mr{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
   }

   .me{
    /* display: block; */
    width: 100%;
    height: 50vh;
    /* background-color: #000; */
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .fefe{

    /* background-color: #DC2C2B; */
    width: 80%;
    /* height: 30vh; */
border-bottom: 2px solid #DC2C2B;
   }
   .fefe h1{
    font-size: 24px;
padding-bottom: 30px;
    text-align: center;
   }
   .fefe h4{
    text-align: center;
    font-weight: 500;
    font-size: 14px;
   }
.cont{
    
    width: 100%;
    height: 100vh;
    /* background-color: aqua; */
}
.cont h1{

    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.min-cont{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 82vw;
    height: 50vh;
/* white-space: nowrap; */
}
.man-cont{
display: flex;
justify-content: center;
align-items: center;
    width: 80%;
    height: 50vh;
}
.min{
padding-top: 30px;
    width: 100%;
    height: 25vh;
    border:2px solid grey;

}
.min h1{
    font-size:10px ;
    text-align: center;
}
.min h6{
    text-align: center;
    font-size: 8px;
    width: 100%;
}
.mon{
    padding-top: 30px;
    width: 100%;
    height: 30vh;
    /* background-color: #DC2C2B; */
    border:2px solid grey;
    /* border-color: #DC2C2B; */
}
.mon h1{
font-size: 10px;
    text-align: center;
}
.mon h6{
    text-align: center;
    font-size: 8px;
}

@media screen and (max-width:380px) {
    
    .man-cont{
        display: grid;

    }
.pro img{
    width: 90%;
    height: 50%;
}
}


.faqs{
    position: relative;
display: flex;
justify-content: center;
align-items: center;
    width: 100%;
    height: 100vh;

}

    @import url('https://fonts.googleapis.com/css?family=Hind:300,400&display=swap');

   
/*     
    * {
      box-sizing: border-box;
      &::before, &::after {
        box-sizing: border-box;
      }
    }
    
    body {
      margin: 0;
      padding: 0;
      font-family: 'Hind', sans-serif;
      background:fff;
      color: #4d5974;
      display: flex;
      min-height: 100vh;
    }
     */
    .container {
      margin: 0 auto;
      padding: 4rem;
      width: 48rem;
    }
    
    .accordion {
      .accordion-item {
        border-bottom: 1px solid  #e5e5e5;
        button[aria-expanded='true'] {
          border-bottom: 1px solid #aecf25;
        }
      }
      button {
        position: relative;
        display: block;
        text-align: left;
        width: 100%;
        padding: 1em 0;
        color: #7288a2;
        font-size: 1.15rem;
        font-weight: 400;
        border: none;
        background: none;
        outline: none;
        &:hover, &:focus {
          cursor: pointer;
          color: #aecf25;
          &::after {
            cursor: pointer;
            color: #7288a2;
            border: 1px solid #aecf25;
          }
        }
        .accordion-title {
          padding: 1em 1.5em 1em 0;
        }
        .icon {
          display: inline-block;
          position: absolute;
          top: 18px;
          right: 0;
          width: 22px;
          height: 22px;
          border: 1px solid;
          border-radius: 22px;
          &::before {
            display: block;
            position: absolute;
            content: '';
            top: 9px;
            left: 5px;
            width: 10px;
            height: 2px;
            background: currentColor;
          }
          &::after {
            display: block;
            position: absolute;
            content: '';
            top: 5px;
            left: 9px;
            width: 2px;
            height: 10px;
            background: currentColor;
          }
        }
      }
      button[aria-expanded='true'] {
        color:#aecf25;
        .icon {
          &::after {
            width: 0;
          }
        }
        + .accordion-content {
          opacity: 1;
          max-height: 9em;
          transition: all 200ms linear;
          will-change: opacity, max-height;
        }
      }
      .accordion-content {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 200ms linear, max-height 200ms linear;
        will-change: opacity, max-height;
        p {
          font-size: 1rem;
          font-weight: 300;
          margin: 2em 0;
        }
      }
    }
